#carusel
#content_body
	.container(style="margin-top:10px; min-height:200px; ")
		.row
			.span12
				h1#body_header Учебно-методические материалы
				#home_page_body
			.span12
				a(target="blank",href="http://www.eltech.ru/ru/fakultety/fakultet-radiotehniki-i-telekommunikaciy/sostav-fakulteta/kafedra-teoreticheskih-osnov-radiotehniki") Информация о деятельности и составе кафедры представлена на официальном сайте СПбГЭТУ.
