h1#body_header Дисциплины для студентов <%= this.for_students %>
#page_sgroup_body
#crs1
	p.pre_header Первый курс
	#line_s1.line_s
		p.split_text_line 1 
		ul#c1s1.list_block
	#line_s2.line_s
		p.split_text_line 2 
		ul#c1s2.list_block
#crs2
	p.pre_header Второй курс
	#line_s3.line_s
		p.split_text_line 3 
		ul#c2s3.list_block
	#line_s4.line_s
		p.split_text_line 4 
		ul#c2s4.list_block
#crs3
	p.pre_header Третий курс
	#line_s5.line_s
		p.split_text_line 5 
		ul#c3s5.list_block
	#line_s6.line_s
		p.split_text_line 6 
		#olymp
		ul#c3s6.list_block
#crs4
	p.pre_header Четвертый курс
	#line_s7.line_s
		p.split_text_line 7 
		ul#c4s7.list_block
	#line_s8.line_s
		p.split_text_line 8 
		ul#c4s8.list_block
#crs5
	p.pre_header Пятый курс
	#line_s9.line_s
		p.split_text_line 9 
		ul#c5s9.list_block
	#line_s10.line_s
		p.split_text_line 10 
		ul#c5s10.list_block
#optional_body
	#practice
	#gos
	#diplom