.header-navbar
	.carousel-container
		#myCarousel.carousel.slide
			ol.carousel-indicators
				li.active(data-target="#myCarousel", data-slide-to="0")
				li(data-target="#myCarousel", data-slide-to="1")
				li(data-target="#myCarousel", data-slide-to="2")
			.carousel-inner
				.active.item
					img(src="/static/img/dr_niirt_0.jpg")
					.carousel-caption
						h4 ТОР
						p Будь на шаг впереди
				.item
					img(src="/static/img/dr_niirt_1.jpg")
					.carousel-caption
						h4 ТОР
						p Будь на шаг впереди
				.item
					img(src="/static/img/dr_niirt_0.jpg")
					.carousel-caption
						h4 ТОР
						p Будь на шаг впереди
			a.carousel-control.left(href="#myCarousel", data-slide="prev") &lsaquo;
			a.carousel-control.right(href="#myCarousel", data-slide="next") &rsaquo;