h1#body_header Дисциплины для студентов <%= this.for_students %>
#page_sgroup_body
p#hcourse1.pre_header Первый курс
ul#course1.list_block
p#hcourse2.pre_header Второй курс
ul#course2.list_block
p#hcourse3.pre_header Третий курс
#olymp
ul#course3.list_block
p#hcourse4.pre_header Четвертый курс
ul#course4.list_block
p#hcourse5.pre_header Пятый курс
ul#course5.list_block
p#hcourse6.pre_header Шестой курс
ul#course6.list_block
#optional_body
	#practice
	#gos
	#diplom